<div>
  <h1>¿Por qué pueden multarme?</h1>
    <ol>
        <li>No se ve el ticket de pago en el tablero del auto</li>
        <li>Concluyó el tiempo pagado</li>
        <li>La fecha del ticket no corresponde al día en turno</li>
        <li>El número de placas en el ticket no coincide con las del auto que lo presenta</li>
        <li>El auto está estacionado parcialmente fuera de la zona designada</li>
    </ol>
    <h1>¿Inmovilizaron tu auto?</h1>
    <ol>
        <li>Detrás de la boleta de infracción se encuentran los centros de pago autorizados</li>
        <ul>
            <li>Pagar $358.4 pesos M.N. de multa </li>
            <li>Pagar $215.9 pesos M.N. por el servicio de inmovilizador</li>
        </ul>
        <li>Llama al teléfono que se encuentra en el inmovilizador para que sea retirado</li>
        <li>Si no pagas el retiro del inmovilizador antes de 2hrs. tu auto será remitido al depósito correspondiente</li>
        
    </ol>
</div>

